# Dependency directories
node_modules/
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by Istanbul
coverage
.nyc_output/

# IDE related
.idea/
.vscode/

# MAC OS
.DS_Store

# Integration test
test/integration/temp

