## smapi {#smapi-command}

{{{smapiCommandDescription}}}

**Syntax**

`$ {{baseCommand}} <subcommand> `

smapi subcommands

|   |   |
|---|---|
{{#commands}} 
| {{{description}}} | [{{name}}](#{{name}}-subcommand) |
{{/commands}} 
{{#commands}} 

#### {{name}} {#{{name}}-subcommand}

{{description}}

**Syntax**

`$ {{baseCommand}} {{name}} {{{optionsString}}}`

**Options**
<dl>
   {{#options}}
    <dt>{{{name}}}</dt>
    <dd>{{{description}}}</dd>
    {{/options}}
</dl>
{{/commands}}


